* {
    margin: 0;
    padding: 0;
 }
 
 .cabeçalho {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
 
 }
 
 .body {
    font-family: 'Ubuntu', sans-serif;
 
 }
 
 .cabeçalho-imagem {
    width: 9%;
    height: 9%;
 }
 
 .cabeçalho-lista-item {
 
    display: inline-block;
    margin: 0 25px;
    font-size: 20px;
 }
 
 .cabeçalho-MAAD {
 
    width: 6.5%;
 }
 
 
 .corpo {
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
 
 }
 
 .logo-exatas {
    width: 20%;
 }
 
 .corpo-div-conteudo {
    width: 35%;
    font-family: 'Ubuntu', sans-serif;
 }
 
 .corpo-titulo {
    padding: 24px 0px;
 }
 
 .alunos-fotos {
    width: 120px;
 }
 
 .aluno-icone {
    width: 24px;
 }
 
 .quem-somos {
    font-family: 'Ubuntu', sans-serif;
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 25px 0;
    background: #181818;
 }
 
 .alunos-div {
    text-align: center;
    padding: 50px 0;
 }
 
 .alunos-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
 
 }
 
 .estudante-isolado {
    text-align: center;
 }
 
 .roda-pé {
    background-color: black;
    text-align: center;
 }
 
 .roda-pé-imagem {
    height: 70px;
    padding: 12px 0;
 }
 
 .lista-menu__item a {
    color: #fffdfd;
    text-decoration: none;
 }
 
 .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
 }
 
 .container__botao:checked ~.lista-menu {
    display: block;
 }
 
 .container__botao {
    display: none;
 }
 
 .botao-MENU {
    width: 50px;
    padding: 55px 0;
    cursor: pointer;
 }
 
 .lista-menu,
 .lista-menu__item {
    padding: 1em;
    background-color: black;
 }
 
 .CarrosselTitulo {
    color: white;
    background-color: #212121;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
 }
 
 .swiper-slide img {
    width: 100%;
 }
 
 .swiper-button-prev, 
 .swiper-button-next {
    display: none;
 }
 
 .cu {
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 0 gray;
    cursor: pointer;
    
 }* {
    margin: 0;
    padding: 0;
 }
 
 .cabeçalho {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
 
 }
 
 .body {
    font-family: 'Ubuntu', sans-serif;
 
 }
 
 .cabeçalho-imagem {
    width: 9%;
    height: 9%;
 }
 
 .cabeçalho-lista-item {
 
    display: inline-block;
    margin: 0 25px;
    font-size: 20px;
 }
 
 .cabeçalho-MAAD {
 
    width: 6.5%;
 }
 
 
 .corpo {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
 
 }
 
 .logo-empresa {
    width: 15%;
 }
 
 .corpo-div-conteudo {
    width: 35%;
    font-family: 'Ubuntu', sans-serif;
 }
 
 .corpo-titulo {
    padding: 24px 0px;
 }
 
 .produtos-fotos {
    width: 250px;
 }
 
 .aluno-icone {
    width: 24px;
 }
 
 .produtos {
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px 0;
    background: whitesmoke;
 }
 
 .produtos-div {
    text-align: center;
    padding: 50px 0;
 }
 
 .produtos-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
 
 }
 
 .estudante-isolado {
    text-align: center;
 }
 
 .roda-pé {
    background-color: black;
    text-align: center;
 }
 
 .roda-pé-imagem {
    height: 70px;
    padding: 12px 0;
 }
 
 .lista-menu__item a {
    color: #fffdfd;
    text-decoration: none;
 }
 
 .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
 }
 
 .container__botao:checked ~.lista-menu {
    display: block;
 }
 
 .container__botao {
    display: none;
 }
 
 .botao-MENU {
    width: 50px;
    padding: 55px 0;
    cursor: pointer;
 }
 
 .lista-menu,
 .lista-menu__item {
    padding: 1em;
    background-color: black;
 }
 
 .CarrosselTitulo {
    color: white;
    background-color: #212121;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
 }
 
 .swiper-slide img {
    width: 100%;
 }
 
 .swiper-button-prev, 
 .swiper-button-next {
    display: none;
 }
 
 .cu {
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 0 gray;
    cursor: pointer;
    
 }